@import url('https://fonts.googleapis.com/css2?family=Armata&family=Roboto:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 300;
  color: #000000;
}

/* The map part of the page */

#upperHalf {
  height: 50%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

#map {
  background: url('../images/darkworldmaps.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.blinkingDot {
  background-color: #fc6e2b;
  width: 10px;
  height: 10px;
  border-radius: 25px;
}

#fullscreen {
  border: none;
  position: absolute;
  bottom: 13px;
  left: 13px;
  font-size: 15px;
  color: gray;
  background-color: black;
}

/* The lower part of the page with a explonation of the application and the controlls.  */

#lowerHalf {
  color: black;
  font-family: Roboto, Arial;
  font-size: 11px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 460px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* For small screens size from 460px wide and down */
@media screen and (max-width: 460px) {
  #lowerHalf {
    width: 95%;
  }
}

h1 {
  font-size: 150%;
  font-family: Armata, sans-serif;
  letter-spacing: 1px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: -20px;
  color: #fc6e2b;
}

h2 {
  font-size: 200%;
  font-family: Armata, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: black;
}

/* Buttons and input field */
.userInput {
  color: black;
  font-size: 12px;
  position: relative;
  top: 20px;
}

.userInputElement {
  display: inline-block;
  width: 32%;
}

select {
  font-size: inherit;
}

input {
  font-size: inherit;
  text-align: center;
}

