@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 300;
  color: #000000;
}
/* Heading and logo */
h1 {
  font-size: 50px;
  color: #fc6e2b;
  position: absolute;
  left: 13px;

}
/* Background-attachment */
#map {
  background: url('../images/darkworldmaps.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

/* Blinking dot on map */
.blinkingDot {
  background-color: #fc6e2b;
  width: 10px;
  height: 10px;
  border-radius: 25px;
}

/* Fullscreen button */
#fullscreen {
  border: none;
  position: absolute;
  bottom: 52%;
  left: 13px;
  font-size: 15px;
  color: gray;
  background-color: black;
}


h2 {
  font-size: 200%;
  font-family: Armata, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: black;
}

/* Infomation discibing the project  */
.lowerHalf {
  color: black;
  font-size: 10px;
  position: absolute;
  padding-left: 15%;
  padding-right: 15%;
  bottom: 25%;
  text-align: center;
  top: 50%;
  width: 70%;
}

/* For small screens size from 700px wide and down */
@media screen and (max-width: 600px) {
  .lowerHalf {
    color: black;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 25%;
    text-align: left;
    top: 50%;
    width: 90%;
  }
}

/* Buttons and input field */
select {
  font-size: 11px;
}

input {
  font-size: 11px;
  width: 28px;
}

.userInput {
  color: black;
  font-size: 11px;
  margin-top: 30px;
  text-align: center;
  left: 50%;
  transform: translate(0, -50%);
}

.userInputElement {
  display: inline;
  padding: 0.3em;

}